
.home{
  width: 100%;
  height: 100%;
  display: flex;
}

.logout{
  margin-left: auto;
  margin-right: 10px;
}


.labels{
  margin: 5% 3% 5% 2%;
  width: 20%;
  border: 1px solid red;

}

.notes{
  margin: 5% 3% 5% 0;
  width: 80%;
  //border: 1px solid red;
}
