@import "src/styles/variables";

.new-quick-note, .quick-note {
  font-weight: bold;
  font-size: calc(0.5em + 1vmin);
  text-align: center;
  padding: 5%;
  margin: 5% 0 5% 0;
  border: 2px solid $base-color;
  border-radius: 25px;
  letter-spacing: 2px;
}


.new-quick-note {
  background-color: $base-color;
}

.new-quick-note > span {
  color: $light-primary-text;
}

.new-quick-note > span, li > p {
  font-size: calc(0.5em + 1vmin);
}

.new-quick-note:hover, .quick-note:hover {
  cursor: pointer;
}

.btn-details {
  display: flex;
  justify-content: center;
}

.add {
  margin-right: 5%;
}

