
.lbl {
  font-weight: bold;
}

.notes {
  text-align: center;
  justify-content: flex-start;
  width: 100%;
  column-gap: 10px;
}

.no-notes {
  margin: auto auto;
  font-size: calc(0.5em + 1vmin);
}

.note {
  width: 20%;
  margin-right: 2%;
  margin-bottom: 5%;
}
