@import "src/styles/variables";

.note {
  border: 1px solid #d7d7d7;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 0 2px #d7d7d7;
  transition: box-shadow 0.3s ease-in-out;
  padding: 10px;
  overflow: hidden;
  position: relative;
}

.note:hover {
  cursor: pointer;
}

.note .title {
  margin: 10px 0;
  font-weight: bold;
  font-size: 1.5vw;
  flex-wrap: wrap;
  display: block;
}

.note .delete-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px 5px 0 0;
  color: $base-color;

  opacity: 0.0;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.note:hover .delete-icon {
  opacity: 1.0;
}

.line {
  border-bottom: 2px solid $base-color;
  width: 80%;
  margin: 0 auto;
}

.details {
  margin: 10px 0;
  font-size: calc(0.5em + 1vmin);
}

.title, .details {
  letter-spacing: 1.5px;
}

.labels {
  margin: 2% 0 0 0.5%;
  flex-wrap: wrap;
  text-align: left;
}

.label {
  color: $grey;
  font-size: calc(0.5em + 0.4vmin);
  padding: 2px;
  margin: 2px;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
  transition: box-shadow 0.3s ease-in-out;
}
