@import "../../../../styles/variables";


.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.input-full-width {
  width: 100%;
}

.details {
  line-height: 2em;
  overflow-y: scroll;
}

.colors {
  display: flex;
  justify-content: flex-end;
}

.color {
  margin: 5px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  padding: 10px;
}

.color:hover {
  cursor: pointer;
}

.light-red {
  background-color: $light-red;
}


.light-green {
  background-color: $light-green;
}

.light-yellow {
  background-color: $light-yellow;
}

.purple {
  background-color: $purple;
}

.blue {
  background-color: $blue;
}
